# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: c4be0ee17f41d03c554d0e80ff58f28489e782b1e44df3251cf93f18e638fd53a1d5a1104998eb0ca2f57271669bc002ac19d41cab7f6d3246ae7b8ec6e7d6c9

test:
  secret_key_base: 082898c05c6637f26c8640b4c3ca20114c47b43cac2f0182a03407dd2eb446ddbf0b8ec66aeb524af7dd2d0fe7b8c74634fc246d8e96e6976bf85e06ce2de2e2

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
